In [1]:
cubes = [ x**3 for x in range(10) ]

cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [3]:

# j'ajoute une valeur x en parcourant une liste
numbers = [ x for x in [1,2,3]]

numbers

[1, 2, 3]

In [8]:
# Créez une liste des 10 premiers carrés entiers 1, 4, 9, 16, 25, ... 100

sq = []

# range crée un tableau de 10 valeur qui démarre ici à 1 et s'arrête à 10   1 <= i < 11
for i in range(1,11):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [9]:
for i in range(2, 21):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [18]:
# Avec une boucle je veux créer une liste concrète des nombres paires de 2 à 100
odds = []
#odds.append(2)
#odds.append(4)
# ...

for i in range(2, 101, 2):
    odds.append(i)
    
print(odds)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [21]:
oddsCL = [ x for x in range(2, 101, 2) ]
print( oddsCL )

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [23]:
a = (1, 2)

In [24]:
a[0]

1

In [25]:
a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [27]:
coordBank = (1516, 171) # par ex numéro client et numéro bank d'ouverture de compte c'est impératif non mutable

In [29]:
t = (1, 2, 6, 9, [1,2])

In [33]:
t[4].append(1)

In [34]:
t

(1, 2, 6, 9, [1, 2, 1])

In [36]:
[ x*2 for x in range(1, 11) ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
m_v1 = [  x*y for x in range(1, 11)  for y in range(1,11) ]
m_v2 = [ [ x*y for x in range(1, 11) ] for y in range(1,11) ]

print(m_v1)
print(m_v2)

for table in m_v2:
    print(table)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]